<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a routerLink="/">Accueil</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Ajouter un utilisateur</strong></div>
    </div>
  </div>
</div>  

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="h3 mb-3 text-black">INSCRIVEZ VOUS</h2>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
             
              <div class="form-group col-5">
                <label for="c_fname" class="text-black">Prenom <span class="text-danger">*</span></label>

                  <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                      <div *ngIf="f.firstName.errors.required">Champs Obligatoire</div>
                  </div>
              </div>
              <div class="form-group col-5">
                <label for="c_fname" class="text-black">Nom <span class="text-danger">*</span></label>
                  <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                      <div *ngIf="f.lastName.errors.required">Champs Obligatoire</div>
                  </div>
              </div>
          </div>
          <div class="form-row">
          <div class="form-group col">
            <label for="c_fname" class="text-black">Numero Téléphone <span class="text-danger">*</span></label>
              <input type="number"  formControlName="numtel" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.numtel.errors }" />
              <div *ngIf="submitted && f.numtel.errors" class="invalid-feedback">
                  <div *ngIf="f.numtel.errors.required">Champs Obligatoire</div>
              </div>
       
         
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
              <label for="c_fname" class="text-black">Adresse <span class="text-danger">*</span></label>
              <input type="text" formControlName="adresse" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.adresse.errors }" />
              <div *ngIf="submitted && f.adresse.errors" class="invalid-feedback">
                  <div *ngIf="f.adresse.errors.required">Champs Obligatoire</div>
              </div>
            </div>
          </div>
          <div class="form-row">
              <div class="form-group col">
                  <label for="c_fname" class="text-black">Mot de Passe <span class="text-danger">*</span></label>
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Champs Obligatoire</div>
                      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
              </div>
              <div class="form-group col">
                  <label for="c_fname" class="text-black">Confirmartion Mot de Passe <span class="text-danger">*</span></label>
                  <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                  <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.confirmPassword.errors.required">Champs Obligatoire</div>
                      <div *ngIf="f.confirmPassword.errors.mustMatch">Mot de Passe différent</div>
                  </div>
              </div>
          </div>
          <div class="form-group form-check">
              <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
              <label for="c_fname" class="text-black">Accept Terms & Conditions</label>
              <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Validez ce champs</div>
          </div>
          <div class="text-center">
              <button class="btn btn-primary mr-1" (click)="inscrire()">S'Inscrire</button>
              <button class="btn btn-secondary" type="reset" (click)="onReset()" >Annuler</button>
          </div>
      </form>
  </div></div>

    </div>
  