<div class="site-section">
    <div class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0"><a routerLink="/">Accueil</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">A propos</strong></div>
          </div>
        </div>
      </div>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          
        </div>
        <div class="col-md-8">
          <br>
          <h2 class="text-black">SOKO</h2> <br>
          <p class="mb-0">Soko est la première plateforme de vente d'articles de mode d'occasion entre particuliers. Avec Soko, vous pouvez revendre les vêtements que vous ne portez plus et en acheter d'autres à petits prix.</p>
            <p class="mb-0">Chaque article est minutieusement sélectionné afin d'offrir un catalogue de marques et d'articles toujours tendances, stylés et de qualité. 
                Rejoindre Soko, c'est intégrer une communauté de passionnés de mode, partager vos goûts, et coup de coeur.  
                </p>
            <p class="mb-0">Avec Soko, le shopping d'occasion devient plus facile ! Dénichez LA petite robe pour votre prochaine sortie du samedi soir, trouvez à la dernière minute votre tenue en bazin pour le baptême de votre directement sur notre plateforme.
              </p>
            <p class="mb-0">Dès à présent, cliquez <a routerLink="/comment_acheter">ici </a > pour vendre ou <a routerLink="/comment_vendre">ici</a>  pour découvrir notre catalogue ! </p>        
        
        </div>
        <div class="col-md-2">
          
          </div>
      </div>
    </div>  </div>