<div class="site-section">
    <div class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0"><a href="/">Acceuil</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">comment acheter ?</strong></div>
          </div>
        </div>
      </div>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          
        </div>
        <div class="col-md-8">
          <br>
          <h2 class="text-black">Comment acheter des articles ?</h2> <br>
          <p class="mb-0">1. L'acheteur repère un article qui lui plait. Il peut poser des questions via les commentaires et l'ajouter au panier une fois qu'il veut l'acheter. 
            </p>
            <p class="mb-0">2. Si l'acheteur souhaite récupérer sa commande directement auprès du vendeur, nous lui communiquons les coordonnées du vendeur.  Dans ce cas Soko n'intervient plus dans le processus d'achat. Les deux parties doivent convenir ensemble d'un mode de livraison et de paiement. En cas de litige, Soko ne pourra pas intervenir.
              </p>
            <p class="mb-0">3. L'acheteur décide de payer l'article par Orange Money ou à la livraison, Soko s'occupe de la livraison et offre la possibilité de retourner l'article si vous n'êtes pas satisfait (voir conditions de retours)
              </p>
            <p class="mb-0">4. Si l'article vous satisfait, le vendeur est payé. Si non, il est remis en vente sur le site. </p>        
        
        </div>
        <div class="col-md-2">
          
          </div>
      </div>
    </div>  </div>