<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a href="index.html">Accueil</a> <span class="mx-2 mb-0">/</span> <a routerLink="/mon_panier">Mon Panier</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Finaliser commande</strong></div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">

  
   
      <div class="col-md-12">
        
        
        <div class="row mb-5">
          <div class="col-md-12">
            <h2 class="h3 mb-3 text-black">Ma Commande</h2>
            <div class="p-3 p-lg-5 border">
              <table class="table site-block-order-table mb-5">
                <thead>
                  <th>Articles</th>
                  <th>Total</th>
                </thead>
                <tbody>
                  <tr  *ngFor="let prod of productAddedTocart">
                    <td>{{prod.article.Titre}} </td>
                    <td>{{prod.article.Prix}} FCFA</td>
                  </tr>
              
                  <tr>
                    <td class="text-black font-weight-bold"><strong>Frais Livraison </strong>(Partout à Dakar)</td>
                    <td class="text-black">1500 FCFA</td>
                  </tr>
                  <tr>
                    <td class="text-black font-weight-bold"><strong>Total à payer</strong></td>
                    <td class="text-black font-weight-bold"><strong>{{allTotal}} FCFA</strong></td>
                  </tr>
                </tbody>
              </table>
                <form method="POST">
              <div class="form-row">
                <div class="form-group col">
                    <label for="c_fname" class="text-black font-weight-bold"> <strong>Adresse</strong> <span class="text-danger">*</span></label>
                    <input type="text"  class="form-control" placeholder="Adresse exacte pour la livraison" name="adresse" [(ngModel)]="loginUserData.adresse" />
                  </div>
                </div>
                <label for="c_fname" class="text-black font-weight-bold"> <strong>Mode de Paiement</strong>  <span class="text-danger">*</span> </label><br>
                <label for="c_fname" class="text-black"> Mobile Money - Carte bancaire <span><img src="https://developers.paydunya.com/logo_doc.png" width="80px" alt=""></span></label>
                <p class="mb-0">Assurer vous d'avoir le montant nécessaire avant de valider la commande</p>

                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <div class="border p-3 mb-3">
                        <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsebank" role="button" aria-expanded="false" aria-controls="collapsebank">PROCHAINES ETAPES</a></h3>
    
                        <div>
                          <div class="py-2">
                            <p class="mb-0">Nous récupérons votre article chez le vendeur et nous vous le livrons sous 24 à 48h</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="border p-3 mb-3">
                        <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsecheque" role="button" aria-expanded="false" aria-controls="collapsecheque">PAIEMENT SECURISÉ</a></h3>
    
                        <div>
                          <div class="py-2">
                            <p class="mb-0">Payez votre commande en toute sécurité grace à notre partenaire PayDunya</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="border p-3 mb-5">
                        <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsepaypal" role="button" aria-expanded="false" aria-controls="collapsepaypal">SATISFAIT(E) OU REMBOURSÉ(E)</a></h3>
    
                        <div>
                          <div class="py-2">
                            <p class="mb-0">Votre article ne vous plait pas? Vous pouvez nous le retourner et être remboursé(e) </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>    

              <div class="form-group">
                <button class="btn btn-primary btn-lg py-3 btn-block" (click)="error()" *ngIf="!this.loginUserData.adresse" disabled>Valider</button>
              </div>
               <p *ngIf="!this.loginUserData.adresse">    <strong>Renseigner d'abord l'adresse de livraison</strong> <span class="text-danger">*</span> </p>
               <div class="form-group">
               <button class="btn btn-primary btn-lg py-3 btn-block" (click)="commande()" *ngIf="this.loginUserData.adresse" >Valider</button>

              </div>
            </form>
            </div>
          </div>
        </div>

    
    </div>
    <!-- </form> -->
  </div>
</div>