<div class="site-section">
  <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Accueil</a> <span class="mx-2 mb-0">/</span> <strong class="text-black"></strong></div>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        
      </div>
      <div class="col-md-8">
        <br>
        <h2 class="text-black">Achetez en toute sécurité</h2> <br>
        <p class="mb-0">1. Vous êtes remboursé(e) si vous n'êtes pas satisfait(e)</p>
          <p class="mb-0">2. Nous vérifions tous les articles haut de gamme et luxe car nous n'autorisons pas les contrefaçons.</p>
          <p class="mb-0">3. Les ventes et achats restent anonymes : vos coordonnées ne sont pas transmises aux autres membres </p>
      
      </div>

    </div>
  </div>  </div>