<div class="site-section">
  <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Accueil</a> <span class="mx-2 mb-0">/</span> <strong class="text-black"></strong></div>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        
      </div>
      <div class="col-md-8">
        <br>
        <h2 class="text-black">Satisfait ou Remboursé</h2> <br>
        <p class="mb-0">Vous avez acheté un article, mais il ne vous va pas, ne vous plait pas ? 
          Vous avez la possibilité de changer d'avis. </p>
          <p class="mb-0">Comment faire  ? Lors de la livraison, demandez au livreur de patienter pendant que vous vérifiez votre article. Si vous souhaitez le retourner, remettez-lui directement l'article avant son départ. </p>
          <p class="mb-0">Seul un article retourné par le livreur au moment de la livraison pourra être remboursé. </p>
      
      </div>

    </div>
  </div>  </div>