

<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a href="index.html">Accueil</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Hommes</strong></div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">

    <div class="row mb-5">
      <div class="col-md-9 order-2">

        <div class="row">
          <div class="col-md-12 mb-5">
            <div class="float-md-left mb-4"><h1 class="text-black h5">Hommes</h1>  <a href="/hommes#"> {{vete}}</a> </div>
            <div class="d-flex">
              <div class="dropdown mr-1 ml-md-auto">
                <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Sous Categorie
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                  <li class="mb-1"><a (click)="sscategorie('Chemise')"  href="/hommes#" class="d-flex">Chemises </a></li>
                <li class="mb-1"><a (click)="sscategorie('Pantalon')"  href="/hommes#" class="d-flex">Pantalon</a></li>
                <li class="mb-1"><a (click)="sscategorie('Mocassin')"  href="/hommes#" class="d-flex">Mocassins</a></li>
                <li class="mb-1"><a (click)="sscategorie('Baskets')"  href="/hommes#" class="d-flex">Baskets</a></li>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade bd-example-modal-lg"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" *ngIf="proda" >
                <div class="row">
                  <div class="col-md-6">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active" >
                          <img src="{{url}}/api/images/{{proda.article.ImageName}}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" *ngIf="proda.article.ImageName1">
                          <img src="{{url}}/api/images/{{proda.article.ImageName1}}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" *ngIf="proda.article.ImageName2">
                          <img src="{{url}}/api/images/{{proda.article.ImageName2}}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" *ngIf="proda.article.ImageName3">
                          <img src="{{url}}/api/images/{{proda.article.ImageName3}}" class="d-block w-100" alt="...">
                        </div>
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <h1 class="text-black">{{proda.article.Titre}}</h1>
                    <p>{{proda.article.Description}}</p>
                    <p>{{proda.article.Taille}}</p>
                    <p><strong class="text-primary h4">{{proda.article.Prix}} FCFA</strong></p>
                    <p><a (click)="OnAddCart(proda)" *ngIf="proda.article.Disponible=='oui'" class="buy-now btn btn-sm btn-primary" data-dismiss="modal" aria-label="Close">Ajouter au panier</a></p>
                    <p><strong *ngIf="proda.article.Disponible=='non'" class="text-primary h4"> VENDU</strong></p>
                    </div> 
                </div>
              </div>


        
            </div>
          </div>
        </div>
        
        <div class="row mb-5" >
          <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up" *ngFor="let prod of allProducts">
            <div class="block-4 text-center border">
              <figure class="block-4-image">
                <a routerLink="/voir_produit" data-toggle="modal" data-target=".bd-example-modal-lg">
                  <img  src="{{url}}/api/images/{{prod.article.ImageName}}" class="img-fluid" (click)="display(prod)" alt="">
                </a>
              </figure>
              <div class="block-4-text p-4">
                <h3><a href="/voir_produit">{{prod.article.Titre}}</a></h3>
                <p class="mb-0">Categorie: {{prod.categorie.name}}</p>
                <p> Sous Categorie: {{prod.sscategorie.name}} </p>
                <p class="text-primary font-weight-bold">{{prod.article.Prix}} FCFA</p>
            
              </div>
            </div>
          </div>
         
      

        </div>
      </div>

      <div class="col-md-3 order-1 mb-5 mb-md-0">
        
        <div class="border p-4 rounded mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block"> Categories</h3>
            <ul class="list-unstyled mb-0">
              <li class="mb-1"><a (click)="categorie()"  href="/hommes#" class="d-flex">Tout </a></li>
              <li><a (click)="categorie('Vetements')"  href="/hommes#" class="d-flex">Vetements </a></li>
              <li><a (click)="categorie('Chaussures')" href="/hommes#" class="d-flex">Chaussures </a></li>
              <li><a (click)="categorie('Sacs')"  href="/hommes#" class="d-flex">Sacs</a></li>

              <li class="mb-1"><a (click)="categorie('Accessoires')" href="/hommes#" class="d-flex">Accessoires</a></li>

            </ul>
          </div>
       
      </div>
    </div>

 
    
  </div>
</div>



