
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a routerLink="/">Accueil</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Nouveautés</strong>  </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
       
        <div class="row mb-5">
          <div class="col-md-9 order-2">

            <div class="row">
              <div class="col-md-12 mb-5">
                <div class="float-md-left mb-4"><h2 class="text-black h5">Toutes les nouveautés</h2> <a href="/new#"> {{vete}}</a>  </div>
               
                <div class="d-flex">
                  
                    <div class="dropdown mr-1 ml-md-auto">
                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuOffset1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Catégorie
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset1">
                <a *ngFor="let cat of categories" (click)="categorie(cat.name)"  href="#{{cat.name}}" class="d-flex">{{cat.name}} </a>
                 
                    </div>
                  </div>
           
                  <div class="dropdown mr-1 ml-md-auto">
                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Sous Catégorie
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                      <a  *ngFor="let sscat of sscategories" (click)="sscategorie(sscat.name)"  href="/new#" class="d-flex">{{sscat.name}} </a>
                 
                    </div> 
                  </div>
                
               
                </div>
              </div>
            </div>
        
            <div class="row mb-5" >
              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up" *ngFor="let prod of allProducts">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a routerLink="/single-shop/{{prod.article.id}}">
                
                      <img  src="{{url}}/api/images/{{prod.article.ImageName}}" class="img-fluid"  alt="">

                   </a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a routerLink="/single-shop/{{prod.article.id}}">{{prod.article.Titre}}</a></h3>
                    <p class="mb-0">Categorie: {{prod.categorie.name}}</p>
                    <p> Sous Categorie: {{prod.sscategorie.name}} </p>
                    <p class="text-primary font-weight-bold">{{prod.article.Prix}} FCFA</p>
                
                  </div>
                </div>
              </div>
             
          
    
            </div>
      
          </div>
          <div class="col-md-3 order-1 mb-5 mb-md-0">
            
                  <div class="border p-4 rounded mb-4">
                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Genre</h3>
                    <ul class="list-unstyled mb-0">
                      <li class="mb-1"><a  class="d-flex" (click)="reload()"  href="/new#"><span>Tout ({{allProducts.length}})</span> </a></li>
                      <li class="mb-1"><a  class="d-flex" (click)="tout('Homme')"  href="/new#"><span>Hommes</span> </a></li>
                      <li class="mb-1"><a (click)="tout('Femme')"  href="/new#" class="d-flex"><span>Femmes</span> </a></li>
                    </ul>
                  </div>
      
      
           
  
            </div>
        
        </div>

     
        
      </div>
    </div>



  