<div class="site-section">
  <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a routerLink="/">Accueil</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Conditions Générales d’Utilisation</strong></div>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        
      </div>
      <div class="col-md-10">
        <br>
        <h1 class="text-black">Conditions Générales d’Utilisation</h1> <br>
        <h3 class="text-black">1. Informations Légales</h3> <br>
        <p class="text-black"> Le Site met en relation des Vendeurs et des Acheteurs souhaitant vendre des articles de mode de seconde main (ci-après les Articles). Les Vendeurs et les
          Acheteurs pourront être définis ci-après par le terme « Utilisateurs ».</p>
          <p class="text-black">Le Site agit comme intermédiaire entre l'Acheteur et le Vendeur. Lorsqu'un Utilisateur achète un Article, son paiement est conservé par SOKO. Cette somme est versée au
            Vendeur lorsque l'Acheteur a confirmé qu'il a reçu l'Article et qu'il en est satisfait.
              </p>
          <p class="text-black">Le Site joue seulement un rôle d'intermédiaire et ne saurait être tenu responsable des litiges.
            Les présentes Conditions Générales ont pour objet de définir les conditions d'utilisation et de vente du Site pour les Utilisateurs. </p>
          <p class="text-black">Vous pouvez nous contacter par email à l’adresse sokodakar@gmail.com</p>        
      <br>
        <h3 class="text-black">2. Objet</h3> <br>
        <p class="text-black">Les présentes conditions générales d’utilisation (ci-après « CGU ») régissent l’accès et l’utilisation du Site Web édité par Soko Dakar</p>
     
        <h3 class="text-black">3. Acceptation des CGU</h3> <br>
        <p class="text-black">Toute personne qui accède et utilise le service de Soko Dakar via le site internet est considérée comme un utilisateur (ci-après « Utilisateur ») et déclare avoir pris connaissance des présentes CGU et les accepter expressément sans réserve et/ou modification de quelque nature que ce soit.</p>
     <p class="text-black">Les présentes CGU sont donc pleinement opposables aux Utilisateurs.</p>
     <p class="text-black">Soko Dakar se réserve la possibilité de modifier, à tout moment, tout ou partie des CGU. Les Utilisateurs sont invités à consulter régulièrement les présentes CGU afin de prendre connaissance de changements éventuels effectués. L'utilisation du Site Web par les Utilisateurs constitue l'acceptation par ces derniers des modifications apportées aux CGU.</p>
     
     <h3 class="text-black">4. Inscription sur le Site</h3> <br>
     <h5 class="text-black">a. Conditions d’inscription</h5>
  <p class="text-black">L'Utilisateur doit être âgé de 18 ans révolus pour pouvoir vendre sur le site internet.</p>
  <p class="text-black">Pour s’inscrire sur le Site, l’Utilisateur devra créer un compte à l’aide de son numéro de téléphone et de son nom complet. L’Utilisateur remplira les champs du formulaire d'inscription du Site et fournira des informations complètes et exactes. Parmi les champs obligatoires, l’Utilisateur devra indiquer son nom et prénom(s), son numéro de téléphone et son mot de passe.</p>
  
  <h5 class="text-black">b. Création d’une Boutique </h5> <br>
  <p class="text-black">Après inscription sur le Site, l’Utilisateur pourra mettre en vente les articles d’occasion qu’il possède. 

    Sur la Boutique, les informations personnelles renseignées par l’Utilisateur ne seront pas affichées publiquement. </p>
    </div>

    <h5 class="text-black">c. Obligations de l’Utilisateur </h5> <br>
    <p class="text-black">Après inscription sur le Site, l’Utilisateur pourra mettre en vente les articles d’occasion qu’il possède. 
  
      Sur la Boutique, les informations personnelles renseignées par l’Utilisateur ne seront pas affichées publiquement. </p>
      </div>
      <div class="col-md-2">
        
        </div>
    </div>
  </div> 