<div class="site-section">
  <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a routerLink="/">Accueil</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Conditions Générales d’Utilisation</strong></div>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        
      </div>
      <div class="col-md-10">
        <br>
        <h1 class="text-black">Conditions Générales d’Utilisation</h1> <br>
        <h3 class="text-black">1. Informations Légales</h3> <br>
        <p class="text-black"> Le Site met en relation des Vendeurs et des Acheteurs souhaitant vendre des articles de mode de seconde main (ci-après les Articles). Les Vendeurs et les
          Acheteurs pourront être définis ci-après par le terme « Utilisateurs ».</p>
          <p class="text-black">Le Site agit comme intermédiaire entre l'Acheteur et le Vendeur. Lorsqu'un Utilisateur achète un Article, son paiement est conservé par SOKO. Cette somme est versée au
            Vendeur lorsque l'Acheteur a confirmé qu'il a reçu l'Article et qu'il en est satisfait.
              </p>
          <p class="text-black">Le Site joue seulement un rôle d'intermédiaire et ne saurait être tenu responsable des litiges.
            Les présentes Conditions Générales ont pour objet de définir les conditions d'utilisation et de vente du Site pour les Utilisateurs. </p>
          <p class="text-black">Vous pouvez nous contacter par email à l’adresse sokodakar@gmail.com</p>        
      <br>
        <h3 class="text-black">2. Objet</h3> <br>
        <p class="text-black">Les présentes conditions générales d’utilisation (ci-après « CGU ») régissent l’accès et l’utilisation du Site Web édité par Soko Dakar</p>
     
        <h3 class="text-black">3. Acceptation des CGU</h3> <br>
        <p class="text-black">Toute personne qui accède et utilise le service de Soko Dakar via le site internet est considérée comme un utilisateur (ci-après « Utilisateur ») et déclare avoir pris connaissance des présentes CGU et les accepter expressément sans réserve et/ou modification de quelque nature que ce soit.</p>
     <p class="text-black">Les présentes CGU sont donc pleinement opposables aux Utilisateurs.</p>
     <p class="text-black">Soko Dakar se réserve la possibilité de modifier, à tout moment, tout ou partie des CGU. Les Utilisateurs sont invités à consulter régulièrement les présentes CGU afin de prendre connaissance de changements éventuels effectués. L'utilisation du Site Web par les Utilisateurs constitue l'acceptation par ces derniers des modifications apportées aux CGU.</p>
     
     <h3 class="text-black">4. Inscription sur le Site</h3> <br>
     <h5 class="text-black">a. Conditions d’inscription</h5>
  <p class="text-black">L'Utilisateur doit être âgé de 18 ans révolus pour pouvoir vendre sur le site internet.</p>
  <p class="text-black">Pour s’inscrire sur le Site, l’Utilisateur devra créer un compte à l’aide de son numéro de téléphone et de son nom complet. L’Utilisateur remplira les champs du formulaire d'inscription du Site et fournira des informations complètes et exactes. Parmi les champs obligatoires, l’Utilisateur devra indiquer son nom et prénom(s), son numéro de téléphone et son mot de passe.</p>
  
  <h5 class="text-black">b. Création d’une Boutique </h5> <br>
  <p class="text-black">Après inscription sur le Site, l’Utilisateur pourra mettre en vente les articles d’occasion qu’il possède. 

    Sur la Boutique, les informations personnelles renseignées par l’Utilisateur ne seront pas affichées publiquement. </p>
   

    <h5 class="text-black">c. Obligations de l’Utilisateur </h5> <br>
    <p class="text-black">L'Utilisateur s'engage à actualiser dans les meilleurs délais les informations fournies sur
      Soko Dakar. Il est seul responsable des conséquences éventuelles de l'absence d'actualisation de celles-ci. </p>
    <p class="text-black">L'Utilisateur s'engage à ne pas indiquer ses coordonnées (téléphone, adresse, e-mail...) dans ses Annonces, dans les questions et réponses y afférant, dans le nom ou la description de ses produits présents sur le catalogue.</p> 
    <p class="text-black">Soko Dakar pourra, le cas échéant, supprimer ces informations sans en avoir fait la demande préalable auprès de l'Utilisateur. L’Utilisateur s’engage à ne pas entrer directement en contact avec les autres Utilisateurs en dehors de l’espace de commentaires prévu à cet effet sur le Site.</p> 
<p class="text-black">Dès lors qu'un Article a été vendu sur le Site, c’est Soko qui se chargera de récupérer l’article vendu chez le Vendeur, pour le livrer à l’Acheteur. Ainsi, les données personnelles de l’Acheteur et du Vendeur restent anonymes aux yeux de chaque partie. </p>
<p class="text-black">L'Utilisateur s'engage à ne pas communiquer son nom et son mot de passe à des tiers. En cas d’utilisation de son compte, même à son insu, par une personne utilisant son mot de passe, il supportera seul les conséquences de cette utilisation. Dans l'hypothèse où il aurait connaissance d’une utilisation frauduleuse du Site sous son identité, l'Utilisateur informera Soko Dakar sans délai.
  L'Utilisateur s'engage à ne pas créer ou utiliser d'autres comptes que celui qu'il a initialement créé.</p>
<p class="text-black">L’Utilisateur s’engage à ne pas employer sur le Site, notamment par le biais des commentaires, notamment des propos contraires aux bonnes mœurs, injurieux, diffamatoires ou pouvant porter atteinte à la réputation des autres Utilisateurs. L’Utilisateur s’interdit de publier des photographies dont le contenu serait inapproprié (nudité, violence).
  En cas de non-respect de l’une de ces obligations, Soko Dakar se réserve le droit de procéder à la suppression du compte de l’Utilisateur.</p><br>
  <h3 class="text-black">5. Mise en vente</h3> <br>
  <h5 class="text-black">a. Mise en vente d’un Article  </h5> <br>
<p class="text-black">Tout Article mis en vente sur le Site doit correspondre à un bien matériel disponible immédiatement. Le Vendeur doit disposer de la pleine et entière propriété des Articles et avoir la capacité de vente.
  L’Utilisateur peut uniquement mettre en vente sur le Site des Articles de mode.  Il s’engage à informer l’Acheteur des caractéristiques précises de l’Article. Le descriptif et les éléments de l'offre doivent être fidèles et ne pas induire l'Acheteur en erreur.
  
  L’Annonce devra refléter toute évolution des caractéristiques de l’Article et le Vendeur s’engage à supprimer son annonce si cette dernière n’est plus disponible à la vente.
  Les Articles de lingerie, maillots de bain, chaussettes et collants ainsi que les vêtements de nuit peuvent être mis en vente sur notre Site. Ces Articles de seconde main ne peuvent être proposés qu’en « état neuf » c’est à dire portant leurs étiquettes d’origine.</p><br>
  <h5 class="text-black">b. Obligations de l’Utilisateur </h5> <br>   
  <p class="text-black">Le Vendeur s’engage à ne pas lister des annonces ne relevant pas des catégories mode. Soko Dakar se réserve le droit de supprimer les Annonces concernées.
  Le Vendeur s'engage à maintenir sa Boutique à jour et à supprimer les Articles qui ne sont plus disponibles.
  Le Vendeur s'engage également à ce que les Articles ne soient pas défectueux, notamment tachés, déchirés ou troués. Si tel est le cas, le vendeur devra au préalable en informer ses utilisateurs via la fiche article. 
  Le Vendeur s'engage à ce que toute Annonce relative à un Article de la catégorie
  Sous-vêtement, maillot de bain soit dans un état “Neuf” c’est-à-dire non ouvert et dans son emballage d'origine ou avec ses étiquettes d’origine. 
  Le Vendeur s'engage à ne publier que des photos des Articles qu'il a lui-même prises. Ainsi l'utilisation de photos non libres de droit est strictement interdite.
  Par conséquent, Soko Dakar se réserve le droit de retirer du Site toute photo qui n'aurait pas été prise par le Vendeur.
  Soko Dakar pourra demander à l’Utilisateur de modifier son Annonce, notamment si cette dernière est erronée ou ne respecte pas les présentes Conditions Générales.</p>   <br>


  <p class="text-black">Le Vendeur s’engage à ne mettre qu’une Annonce par Article mis en vente. 
    Soko Dakar se réserve le droit de supprimer les Annonces multiples pour un seul et même Article.
    En cas de non-respect de l’une de ces obligations, Soko Dakar se réserve le droit de procéder à la suppression du compte de l’Utilisateur.</p>
    <p class="text-black">Afin de garantir la cohérence des Produits proposés à la vente sur le Site Soko Dakar se réserve le droit d’accepter ou de refuser la Fiche Produit d’un Vendeur avant sa mise en ligne sur le Site. En cas d’acceptation de la Fiche Produit, Soko Dakar enverra un message au Vendeur relatif au Prix, précisant le montant de la Commission qui sera incluse dans le Prix.</p>

    <h5 class="text-black">c. Interdictions de vente  </h5> <br>  
    <p class="text-black">Le Vendeur s’engage à ne proposer que des Articles de mode. Il s’interdit donc de proposer à la vente le type d’Articles suivants, sans que cette liste soit exhaustive:
    <br>  • Lots d’Articles <br>
      • Articles électroniques notamment lisseur, fer à friser, épilateurs ou sèche cheveux <br>
      • Articles promotionnels offerts par les marques. <br>
      • Cosmétiques en tout genre. <br>
      • Perruques, cheveux naturels, mèches. <br>
      • Tout produit interdit par la loi.  <br>
      • Armes en tout genre. </p>
      <h5 class="text-black">d. Contrefaçon  </h5> <br>  
      <p class="text-black">Le Vendeur s’interdit de proposer à la vente des Articles de contrefaçon. L’utilisateur s’engage à ne pas mettre en vente tout Article dont il ne connaît pas la provenance, ou dont la provenance serait douteuse. 
        Soko Dakar se réserve le droit de procéder à un contrôle de l’Annonce et d’exiger du
        Vendeur qu'il lui fournisse des informations ou photographies complémentaires (ex : numéro de série, facture, carte d’authenticité). 
        En cas de mise en vente d'un Article contrefaisant, Soko Dakar se réserve le droit de supprimer l’Annonce.
        Les certificats provenant de cabinets indépendants ne sont pas acceptés comme preuve d’authenticité.
        Les Utilisateurs s'engagent à informer Soko Dakar dès qu'ils constateront qu'une Annonce n'est pas conforme aux dispositions de ces Conditions Générales d’Utilisation.
        En cas de mise en vente d'un ou plusieurs Articles contrefaisants, Soko Dakar se réserve le droit de supprimer définitivement le compte de l'Utilisateur et de prendre toutes mesures ; y compris judiciaires, pour empêcher la réinscription de cet Utilisateur. </p>
        <h5 class="text-black">e. Fixation du Prix de vente   </h5> <br>
        <p class="text-black">Le Vendeur détermine le Prix de l'Article sous sa seule responsabilité. Soko conseillera un prix de vente au vendeur qui pourra lui permettre de vendre son article plus rapidement. 
          Les Annonces d'Articles de marque de luxe ne respectant pas ces dispositions seront automatiquement supprimées.
          
          Soko Dakar se réserve le droit de supprimer une Annonce et a la possibilité de suggérer une baisse de prix au Vendeur particulier lorsque celui-ci s'avère manifestement trop élevé.</p> <br>
          <h3 class="text-black">6. Commandes</h3> <br>
          <h5 class="text-black">a. Passer une Commande  </h5> <br>

          <p class="text-black">Après avoir ajouté l’article au panier, l’Acheteur doit renseigner ses coordonnées : nom, prénom, numéro de téléphone, adresse. Il règle ensuite sa commande via Mobile Money, en suivant les instructions qui figureront sur le site. Le paiement se fait via Orange Money. 

            Il est ensuite contacté par un membre de l’équipe Soko Dakar pour confirmer la commande. 
            
            
            Soko Dakar est un simple intermédiaire et n’est pas partie à la transaction entre l’Acheteur et le Vendeur. Lors du passage de la Commande puis de sa finalisation, la propriété du ou des Articles est directement transmise du Vendeur à l’Acheteur.
            
            Pour toute question relative à une Commande, l’Acheteur et le Vendeur peuvent contacter le
            Service Client au :
            +221 78 608 78 32 par téléphone ou sur What’s App
            
            En transmettant votre formulaire de commande, et en vendant votre article vous confirmez connaître et accepter les présentes Conditions Générales d’Utilisation. </p> <br>

            <h5 class="text-black">b. Enlèvement et Livraison   </h5> <br>
          <p class="text-black">    • Enlèvement via un coursier <br>
            Lorsque le Vendeur confirme la disponibilité de l’Article, Soko Dakar dépêche un livreur  pour passer récupérer l’article vendu. 
            
            <br>    • Livraison via un coursier <br>
            L’acheteur sera livré par un coursier.  <br>
            
            Il en va à l’acheteur de prendre les dispositions nécessaires pour la réception de sa commande. Si l’acheteur n’est pas disponible, nous lui conseillons de confier la réception à quelqu’un de disponible le jour et dans le créneau horaire de livraison communiqués. </p>
   
            <h5 class="text-black">c. Retours et échanges   </h5> <br>
            <p class="text-black">Si vous n’êtes pas satisfait d’un produit acheté, vous pouvez le retourner au moment de la livraison. Nous vous invitons à prendre les dispositions nécessaires pour vérifier les articles que vous achetez. Les livreurs sont formés pour patienter lorsque vous vérifiez, ou essayez votre commande. Si celle-ci ne convient pas, vous pouvez la remettre au livreur pour qu’il la retourne dans nos locaux. 
              C’est pourquoi nous invitons le client lors de la livraison, à s’assurer de la conformité et à essayer le/les produits commandé(s) si les conditions de réception sont favorables à cet effet. Ainsi, il pourra retourner le/les produits non désirés immédiatement. 
              Nous offrons donc la garantie satisfait ou remboursé. 
              
              Toutefois, si l’article n’est pas retourné dans l’immédiat, c’est à dire remis au coursier ayant effectué la livraison, nous ne pourrons procéder au remboursement. </p>
              <h3 class="text-black">7. Finalisation de la vente </h3> <br>
              <p class="text-black">Le Vendeur autorise Soko Dakar, à percevoir, en son nom et pour son compte, le Prix de la Transaction.</p>
              <h5 class="text-black">a. Commission  </h5> <br>

              <p class="text-black">En contrepartie de l’utilisation de la plateforme, le Vendeur autorise Soko Dakar, à prélever, au moment de la finalisation de la Commande, sur le Prix total de la Transaction, une Commission déterminée selon les modalités définies ci-après.

            <br>    La Commission facturée au Vendeur par Soko Dakar, pour chaque vente est la suivante : <br>
              <br>  - 1000 FCFA pour les frais d’enlèvement au vendeur <br>
        <br>        - 15% de commission <br>
                
                
                Les Frais de livraison à l’acheteur ne sont pas inclus dans la base de calcul de la Commission.
                
                La Commission n'est pas due par le Vendeur en cas de retour de l'Article par l'Acheteur ou d’indisponibilité de l’Article.</p>
                <h5 class="text-black">b. Somme versée au Vendeur   </h5> <br>
              <p class="text-black">Suite à la finalisation de la Commande, Soko Dakar procédera au paiement du Vendeur du Prix de la Transaction diminué de la Commission par Orange Money, sans les frais de retraits. 

                Le Prix de l'Article, les Frais de Port, la Commission et la Somme Versée au Vendeur sont définis toutes taxes comprises. 
                
                Le versement de la somme est effectué par Soko Dakar, au Vendeur dès confirmation de la réception et satisfaction de l'Article par l'Acheteur sur le Site. </p>
                <h3 class="text-black">8. Résolution des litiges </h3> <br>

              <p class="text-black">Si un litige survient dans le cadre d’un achat auprès d’un Vendeur particulier, l’Acheteur peut faire appel à l’assistance Soko Dakar et adresser une réclamation auprès du service client. 

                Pour ce faire, l’Acheteur devra contacter Soko Dakar par écrit à l’adresse mail sokodakar@gmail.com ou par téléphone au 78 608 78 32.
                
                Dans le cadre des transactions, Soko Dakar joue seulement un rôle d'intermédiaire et ne saurait être tenu responsable des litiges qui surviendraient. Dans cette hypothèse, Soko Dakar fera son possible pour aider les parties à trouver un accord.
                
                En cas de litige entre l’Acheteur et le Vendeur, le contenu de l’Annonce sera pris en compte et notamment, photos et description. En ce sens, le Vendeur s’engage à envoyer l’intégralité des éléments présents sur ses photos ou mentionnés dans sa description à l’Acheteur.
                Afin de résoudre le litige, les parties acceptent que les informations de suivi de livraison indiquées par les coursiers feront foi.</p>
                <h3 class="text-black">9. Responsabilités </h3> <br>
                <h5 class="text-black">a. Limitation de responsabilité    </h5> <br>

              <p class="text-black">Soko Dakar ne peut être tenue responsable ni du contenu des Annonces, ni des actions (ou absence d'action) des Utilisateurs, ni des Articles mis en vente.
                Soko Dakar ne peut être tenue responsable du caractère diffamatoire, injurieux ou contraire aux bonnes mœurs des commentaires mis en ligne par un Utilisateur.
                Soko Dakar ne peut être tenue responsable de l'utilisation frauduleuse par un tiers et des conséquences éventuelles de l'identifiant et/ou du mot de passe de l'Utilisateur.
                Soko Dakar ne peut assurer que le Vendeur ou l'Acheteur concluront la transaction.
                Le contrat créé lors de la confirmation de commande de l'Acheteur lie uniquement le Vendeur et l'Acheteur. Soko Dakar, jouant seulement un rôle d'intermédiaire, ne saurait être tenu responsable des litiges et de leur issue. De même, Soko Dakar n'exerce aucun contrôle sur la qualité, la sûreté ou la licéité des Articles répertoriés, ainsi que sur la véracité ou l'exactitude du contenu des Annonces des Utilisateurs.
                En cas de vice caché, et découvert après que le livreur soit parti, l'Acheteur pour exercer sa Garantie Satisfait ou Remboursé, tout litige pouvant en résulter ne liera que l'Acheteur et le Vendeur à l'exclusion de Soko Dakar</p>
         
                <h5 class="text-black">b. Accès au Site   </h5> <br>

         <p class="text-black">Soko Dakar, ne peut garantir que le Site sera accessible en permanence et n'est tenu qu'à une obligation de moyens concernant la continuité de son accès.
          Soko Dakar se réserve le droit de suspendre l'accès au Site, temporairement ou définitivement, pour toutes raisons, et notamment en cas de maintenance ou en cas d'urgence sans préavis ni indemnité et sans engager sa responsabilité.
          
          En conséquence, Soko Dakar ne peut être tenue responsable de la perte d'argent, de réputation, de dommages spéciaux, indirects ou induits résultant directement ou indirectement de l'utilisation du Site.</p>
          <h3 class="text-black">10. Propriété intellectuelle  </h3> <br>
          <h5 class="text-black">a. Droits de propriété intellectuelle   </h5> <br>

        <p class="text-black">Tous les droits de propriété intellectuelle (tels que notamment droits d’auteur, droits voisins, droits des marques, droits des producteurs de bases de données) portant tant sur la structure que sur les contenus du Site et notamment les éléments suivants : les images, sons, vidéos, photographies, logos, marques, éléments graphiques, textuels, visuels, outils, logiciels, documents, données, etc. sont réservés.
          Ces éléments sont la propriété de Soko Dakar, ils sont mis à disposition des Utilisateurs, à titre gracieux, pour la seule utilisation du Site et dans le cadre d’une utilisation normale de ses fonctionnalités. Les Utilisateurs s’engagent à ne les modifier en aucune manière.
          Toute utilisation non expressément autorisée de ces éléments entraîne une violation des droits d’auteur et constitue une contrefaçon. Elle peut aussi entraîner une violation des droits
          à l’image, droits des personnes ou de tous autres droits et réglementations en vigueur. Elle peut donc engager la responsabilité civile et/ou pénale de son auteur.
          Il est interdit à tout Utilisateur ou Visiteur de copier, modifier, créer une oeuvre dérivée, inverser la conception ou l’assemblage ou de toute autre manière tenter de trouver le code source, vendre, attribuer, sous licencier ou transférer de quelque manière que ce soit tout droit afférant aux éléments précédemment cités.
          
          Tous Utilisateurs et Visiteurs s’engagent notamment à ne pas : <br>
        

    • extraire, à des fins commerciales ou non, tout ou partie des informations présentes sur le Site ; <br>
    • reproduire sur tout autre support, à des fins commerciales ou non, tout ou partie des informations présentes sur le Site. <br>
    • utiliser un robot, notamment d'exploration (spider), une application de recherche ou récupération de sites Internet ou tout autre moyen permettant de récupérer ou d'indexer tout ou partie du contenu du Site excepté en cas d'autorisation expresse et préalable de Soko Dakar ; <br>
    • copier les informations sur des supports de toute nature permettant de reconstituer tout ou partie des fichiers d'origine. <br>

Toute reproduction, représentation, publication, transmission, utilisation, modification ou extraction de tout ou partie des éléments précédemment cités et ce de quelque manière que ce soit, faite sans l'autorisation préalable et écrite de Soko Dakar est illicite. Ces actes illicites engagent la responsabilité de ses auteurs et sont susceptibles d'entraîner des poursuites judiciaires à leur encontre et notamment pour contrefaçon.
        </p>
        <h5 class="text-black">b. Contenu des Annonces   </h5> <br>

        <p class="text-black"> Le contenu des Annonces déposées appartient aux Utilisateurs, néanmoins, en déposant des Annonces sur le Site, l'Utilisateur concède à Soko Dakar le droit d’exploitation non exclusif, transférable, sous licenciable, à titre gracieux, pour le monde entier sur l’ensemble du contenu des Annonces et notamment sur les photographies, textes, vidéos, illustrations, marques, logos, titres, au fur et à mesure de leur publication sur le Site ainsi qu’une licence sur l’ensemble des droits de propriété intellectuelle afférant au contenu et notamment sur les droits d’auteurs sur les éléments utilisés dans son Annonce, tels que les photographies, textes, vidéos, dessins, illustrations, éléments sonores, et ce pour toute la durée légale de ses droits de propriété intellectuelle et pour le monde entier.
          Les droits ainsi concédés incluent le droit de reproduire, représenter, diffuser, adapter, modifier, réaliser une œuvre dérivée, traduire tout ou partie du contenu par tous procédés, sous quelque forme que ce soit et sur tous supports (numérique, imprimé…) connus ou inconnus à ce jour, dans le cadre du Site ou en relation avec l’activité de Soko Dakar, et ce à des fins commerciales ou non et notamment publicitaires, ainsi que dans le cadre d’une diffusion sur les réseaux sociaux sur lesquels Soko Dakar est présent et notamment les pages Facebook, Instagram et Twitter de Soko Dakar.
          En particulier, les photographies des Annonces pourront être reproduites et intégrées dans des formats publicitaires diffusés sur le Site. Les Utilisateurs acceptent également que Soko Dakar puisse retoucher les photos des Articles qu'ils auront mis en ligne afin d'optimiser leur visibilité.
          
        <br>  Le Vendeur accorde son consentement à la reprise de son Annonce et du contenu de cette dernière sur les réseaux sociaux, notamment Facebook, Instagram et Twitter. Par conséquent, l’Utilisateur atteste avoir pris connaissance des conditions générales d’utilisation des sites Facebook, Instagram, et Twitter et en accepter les termes, particulièrement en matière de réutilisation du contenu et des données personnelles.
          
     <br>     En s'inscrivant sur le Site, l'Utilisateur reconnaît avoir pris connaissance, compris et accepté sans réserve l'intégralité des présentes Conditions Générales qui régissent avec force obligatoire l'ensemble des relations entre Soko Dakar, les Vendeurs et les Acheteurs. Cette acceptation prend effet à compter de la date d'inscription sur le Site de l'Utilisateur et vaut pour chaque opération, Annonce, Offre d'Achat et vente. Les présentes Conditions Générales prévalent sur tout document contractuel ou non contractuel propre au Vendeur ou propre à l'Acheteur.
          
       <br>   Soko Dakar a la faculté de modifier les présentes Conditions Générales en fonction de l'évolution de son offre et du marché. L'Utilisateur s'engage donc à consulter régulièrement les Conditions Générales du Site pour prendre connaissance des modifications y ayant été apportées. L'utilisation du Site par les Utilisateurs constitue l'acceptation par ces derniers des modifications apportées aux Conditions Générales. A défaut d’acceptation de l’Utilisateur, ce dernier s’engage à ne plus utiliser le Site et à supprimer son compte.
          
          Les présentes Conditions Générales ne créent aucune relation d'agent, de sous-traitance, de joint-venture ou de relation de subordination entre Soko Dakar et l'Utilisateur.
          Le présent contrat est soumis à la loi sénégalaise.</p>

        <p class="text-black"></p>
        </div>
    </div>
    </div>
  </div> 