  
  <body>
    
 
 
    

    <div class="site-blocks-cover" style="background-image: url(/../../assets/images/hero_1.jpg);" data-aos="fade">
      <div class="container">
        <div class="row align-items-start align-items-md-center justify-content-end">
          <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
            <h1 class="mb-2">SOKO DAKAR</h1>
            <div class="intro-text text-center text-md-left">
              <p class="mb-4">Soko est la première plateforme de vente d'articles de mode d'occasion entre particuliers. Avec Soko, vous pouvez revendre les vêtements que vous ne portez plus et en acheter d'autres à petits prix. </p>
              <p>
                <a routerLink="/à_propos" class="btn btn-sm btn-warning">En savoir plus</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


 
   
    <div class="site-section site-section-sm site-blocks-1">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
              <div class="icon mr-4 align-self-start">
                <span class="icon-refresh2"></span>
              </div>
              <div class="text">
                <h2 class="text-uppercase"> Satisfait ou Remboursé</h2>
                <a routerLink="/retour&remboursement">En savoir plus</a>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
              <div class="icon mr-4 align-self-start">
                <span class="icon-truck"></span>
              </div>
              <div class="text">
                <h2 class="text-uppercase">La Livraison</h2>
                <p> Livraison offerte dès 30000F d'achat</p>
              </div>
            </div>
           
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
              <div class="icon mr-4 align-self-start">
                <span class="icon-help"></span>
              </div>
              <div class="text">
                <h2 class="text-uppercase">Achetez en toute sécurité</h2>
                <a routerLink="/secureinfo">En savoir plus</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="site-section site-blocks-2">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
             
              <a class="block-2-item" routerLink="/new">
                <figure class="image">
                  <img src="/../../assets/images/children.jpg" alt="" class="img-fluid">
                </figure>
                <div class="text">
                  <span class="text-uppercase">Collections</span>
                  <h3>Nouveautés</h3>
                </div>
              </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
              <a class="block-2-item" routerLink="/femmes">
                <figure class="image">
                  <img src="/../../assets/images/women.jpg" alt="" class="img-fluid">
                </figure>
                <div class="text">
                  <span class="text-uppercase">Collections</span>
                  <h3>Femmes</h3>
                </div>
              </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
              <a class="block-2-item" routerLink="/hommes">
                <figure class="image">
                  <img src="/../../assets/images/men.jpg" alt="" routerLink="/" class="img-fluid">
                </figure>
                <div class="text">
                  <span class="text-uppercase">Collections</span>
                  <h3>Hommes</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

         <div class="site-section block-3 site-blocks-2 bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>Featured Products</h2>
          </div>
        </div>
    
  
      </div>
    </div>

</body>