<div class="site-section">
    <div class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0"><a href="/">Accueil</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">comment vendre ?</strong></div>
          </div>
        </div>
      </div>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          
        </div>
        <div class="col-md-8">
          <br>
          <h2 class="text-black">Comment vendre vos articles ?</h2> <br>
          <p class="mb-0">1. Le vendeur met un article d'occasion en vente.
              Il le décrit, le prend en photo, fixe son prix.</p>
            <p class="mb-0">2. Lorsque l'article est vendu, le vendeur reçoit un message, et dispose de 24h pour confirmer qu'il est disponible.</p>
            <p class="mb-0">3. Si le vendeur propose de remettre la commande en mains propres, Soko lui communique les coordonnées de l'acheteur. Les deux parties doivent convenir ensemble d'un moyen de livraison et de paiement. Soko n'intervient plus dans le processus de vente une fois les coordonnées transmises. En cas de litige SOKO ne pourra pas intervenir. 
              </p>
            <p class="mb-0">4. Si le vendeur souhaite rester anonyme, Soko met à la disposition du vendeur un coursier qui viendra récupérer l'article pour le remettre à l'acheteur. Le vendeur dispose de 24H pour effectuer l'envoi. Passé ce délai, la commande pourra être annulée. Dans ce cas, Soko prélève 20% de commission sur chaque article vendu.</p>        
        
        </div>
        <div class="col-md-2">
          
          </div>
      </div>
    </div>  </div>