
   
        <div class="container">
          <div class="row">
        <br>    <div class="col-md-12 mb-0"><a href="/">Accueil</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">comment vendre ?</strong></div> 
          </div>
 
        
        <div class="row">
        <div class="col-md-16">
     <br>
          <h2 class="text-black">Comment vendre vos articles ?</h2> <br>
        </div> </div> </div>
<div class="section">
        <div class="container">
            <div class="row">
              <div class="col">
              </div>
              <div class="col-12 ">
              <div class="col">
                  <img src="../../assets/images/1.png" alt="" class="img-fluid"> 
                </div>
                <div class="col">
                  <img src="../../assets/images/2.png" alt="" class="img-fluid"> 
                </div>
                <div class="col">
                  <img src="../../assets/images/3.png" alt="" class="img-fluid">
                </div>
                <div class="col">
                  <img src="../../assets/images/4.png" alt="" class="img-fluid">
                </div>
                <div class="col">
                  <img src="../../assets/images/5.png" alt="" class="img-fluid">
                </div>
                <div class="col">
                  <img src="../../assets/images/6.png" alt="" class="img-fluid">
                </div>
                <div class="col">
                  <img src="../../assets/images/7.png" alt="" class="img-fluid">
                </div>
                <div class="col">
                  <img src="../../assets/images/8.png" alt="" class="img-fluid">

                </div>
                <div class="col">
                  <img src="../../assets/images/9.png" alt="" class="img-fluid"> <br><br> <br><br>
                </div>
              </div>
              <div class="col">
              </div>
            </div> 
        </div>
      </div>
   